@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p></p><h1 class="display-4">Chatr Mobiles</h1></p>
    <p>Click Here to Learn More <a href="https://www.chatrwireless.com/">About Chatr</a>.</p>
    <img src="~/images/chatr-images.png" alt="Chatr Mobiles" width="500"
         height="400">
</div>
